QWidget
{
    color: #b1b1b1;
    background: rgba(0, 0, 0, 0);
}

QWidget:item:hover
{
    color: #eeeeee;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(0,184,255, 0.7), stop: 1 rgba(0,159,255, 0.7));
}

QWidget:item:selected
{
    color: #fff;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(0,200,255, 0.7), stop: 1 rgba(0,175,255, 0.7));
}

QTreeWidget
{
    background-color: rgba(30, 30, 30, 0.5);
    border: 1px solid #444;
}

QHeaderView::section
{
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(77, 77, 77, 0.7), stop: 0.5 rgba(60, 60, 60, 0.7), stop: 0.6 rgba(47, 47, 47, 0.7), stop:1 rgba(81, 81, 81, 0.7));
    color: white;
    padding-left: 4px;
    border: 1px solid #555;
}

QHeaderView::section:hover
{
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(67, 67, 67, 1.0), stop: 0.5 rgba(101, 101, 101, 1.0), stop: 0.6 rgba(97, 97, 97, 1.0), stop:1 rgba(80, 80, 80, 1.0));
    color: white;
    border: 1px solid #444;
}

QListWidget {
    background-color: rgba(30, 30, 30, 0.8);
    border: 1px solid #444;
}

QGroupBox
{
    border: 1px solid #444;
    font-size: 11px;
    font-weight: bold;
    background-color: rgba(30, 30, 30, 0.5);
    margin-top: 7px;
}

QGroupBox::title {
    color: #fff;
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 1px 3px;
    border: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.5);
}

QLineEdit
{
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(57, 57, 57, 0.7), stop: 1 rgba(61, 61, 61, 0.7));
    padding: 1px;
    border-style: solid;
    border: 1px solid #1e1e1e;
    border-radius: 5;
}

QPushButton
{
    color: #b1b1b1;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(58, 58, 58, 0.8), stop: 0.5 rgba(54, 54, 54, 0.8), stop: 0.9 rgba(50, 50, 50, 0.8), stop:1 rgba(46, 46, 46, 0.8));
    border-width: 1px;
    border-color: #1e1e1e;
    border-style: solid;
    border-radius: 3;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

QTabBar::tab {
    color: #b1b1b1;
    background-color: rgba(50, 50, 50, 0.8);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: -1px;
}

QTabWidget::pane
{
    border: 0;
}

QTabBar::tab:last
{
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
    border-top-right-radius: 3px;
}

QTabBar::tab:first:!selected
{
 margin-left: 0px; /* the last selected tab has nothing to overlap with on the right */


    border-top-left-radius: 3px;
}

QTabBar::tab:!selected
{
    color: #b1b1b1;
    border-bottom-style: solid;
    margin-top: 3px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:.4 #343434);
}

QTabBar::tab:selected
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
}

QTabBar::tab:!selected:hover
{
    /*border-top: 2px solid #ffaa00;
    padding-bottom: 3px;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:0.4 #343434, stop:0.2 #343434, stop:0.1 #00b8ff);
}

QRadioButton::indicator:checked, QRadioButton::indicator:unchecked
{
    color: #b1b1b1;
    background-color: #323232;
    border: 1px solid #b1b1b1;
    border-radius: 6px;
}

QRadioButton::indicator:checked
{
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #ffaa00,
        stop: 0.3 #323232
    );
}

QCheckBox::indicator
{
    color: #b1b1b1;
    background-color: #323232;
    border: 1px solid #666;
    width: 9px;
    height: 9px;
}

QRadioButton::indicator
{
    border-radius: 6px;
}

QRadioButton::indicator:hover, QCheckBox::indicator:hover
{
    border: 1px solid #ffaa00;
}

QCheckBox::indicator:checked
{
    image:url(:/Style/img/checkbox.png);
}

QCheckBox::indicator:disabled, QRadioButton::indicator:disabled
{
    border: 1px solid #444;
}

QComboBox:hover, QPushButton:hover
{
        background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(46, 46, 46, 0.9), stop: 0.5 rgba(42, 42, 42, 0.9), stop: 0.9 rgba(38, 38, 38, 0.9), stop:1 rgba(34, 34, 34, 0.9));
        border-color: #00b8ff;
        color: #fff;
}

QComboBox:pressed, QPushButton:pressed
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
    color: #fff;
}

QComboBox
{
    selection-background-color: #ffaa00;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #565656, stop: 0.1 #525252, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
    border-style: solid;
    border: 1px solid #1e1e1e;
}

QComboBox:on
{
    padding-top: 3px;
    padding-left: 4px;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
    selection-background-color: #ffaa00;
}

QComboBox QAbstractItemView
{
    border: 2px solid darkgray;
    selection-background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
}

QComboBox::drop-down
{
        subcontrol-origin: padding;
        subcontrol-position: top right;
        width: 15px;

        border-left-width: 0px;
        border-left-color: darkgray;
        border-left-style: solid; /* just a single line */
        border-top-right-radius: 3px; /* same radius as the QComboBox */
        border-bottom-right-radius: 3px;
 }

QComboBox::down-arrow
{
        image: url(:/Style/img/down_arrow.png);
}

QScrollBar:horizontal
{
        background-color: rgba(30, 30, 30, 0.4);
        height: 14px;
        margin: 0 16px 0 16px;
}

QScrollBar::handle:horizontal
{
        background: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(97, 97, 97, 1.0), stop: 0.5 rgba(67, 67, 67, 1.0), stop:1 rgba(101, 101, 101, 1.0));
        min-height: 20px;
        border: 1px solid #666;
}

QScrollBar::add-line:horizontal
{
        background: QLinearGradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgba(97, 97, 97, 1.0), stop:1 rgba(101, 101, 101, 1.0));
        width: 16px;
        subcontrol-position: right;
        subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
        background: QLinearGradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgba(97, 97, 97, 1.0), stop:1 rgba(101, 101, 101, 1.0));
        width: 16px;
        subcontrol-position: left;
        subcontrol-origin: margin;
}

QScrollBar::left-arrow:horizontal
{
        image: url(:/Style/img/left_arrow.png);
}

QScrollBar::right-arrow:horizontal
{
        image: url(:/Style/img/right_arrow.png);
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
        background: none;
}

QScrollBar:vertical
{
        background-color: rgba(30, 30, 30, 0.4);
        width: 14px;
        margin: 16px 0 16px 0;
}

QScrollBar::handle:vertical
{
        background: QLinearGradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgba(97, 97, 97, 1.0), stop: 0.5 rgba(67, 67, 67, 1.0), stop:1 rgba(101, 101, 101, 1.0));
        min-height: 20px;
        border: 1px solid #666;
}

QScrollBar::add-line:vertical
{
        background: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(97, 97, 97, 1.0), stop:1 rgba(101, 101, 101, 1.0));
        height: 16px;
        subcontrol-position: bottom;
        subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
        background: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(97, 97, 97, 1.0), stop:1 rgba(101, 101, 101, 1.0));
        height: 16px;
        subcontrol-position: top;
        subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical
{
        image: url(:/Style/img/up_arrow.png);
}

QScrollBar::down-arrow:vertical
{
        image: url(:/Style/img/down_arrow.png);
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
        background: none;
}

QSlider::groove:horizontal
{
        border: 1px solid #6c6c6c;
        border-radius: 3px;
        height: 10px;
        background: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(97, 97, 97, 0.8), stop: 0.5 rgba(67, 67, 67, 0.8), stop:1 rgba(101, 101, 101, 0.8));
        margin: 2px 0;
}

QSlider::handle:horizontal
{
        background: QLinearGradient(cx: 0.5, cy: 0.5, radius: 0.8, fx: 0.5, fy: 0.5, stop: 0 #777, stop: 1 #2d2d2d);
        border: 1px solid #777;
        width: 10px;
        border-radius: 5px;
        margin: -6px 0;
}

QSpinBox
{
        padding-right: 15px;
        border-width: 3;
        background-color: rgba(30, 30, 30, 0.4);
        border: 1px solid #666;
}

QSpinBox::up-button
{
        subcontrol-origin: border;
        subcontrol-position: top right;

        border-width: 1px;
}

QSpinBox::up-arrow
{
        image: url(:/Style/img/up_arrow.png);
        width: 7px;
        height: 7px;
}


QSpinBox::down-button
{
        subcontrol-origin: border;
        subcontrol-position: bottom right;

        border-width: 1px;
        border-top-width: 0;
}

QSpinBox::down-arrow
{
        image: url(:/Style/img/down_arrow.png);
        width: 7px;
        height: 7px;
}

QProgressBar
{
        border: 1px solid grey;
        background: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(97, 97, 97, 1.0), stop: 0.5 rgba(80, 80, 80, 1.0), stop: 0.6 rgba(67, 67, 67, 1.0), stop:1 rgba(101, 101, 101, 1.0));
        border-radius: 1px;
        text-align: center;
        color: #fff;
        font-weight: bold;
}

QProgressBar::chunk
{
        background: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 155, 30, 1.0), stop: 0.5 rgba(255, 145, 10, 1.0), stop: 0.6 rgba(255, 130, 0, 1.0), stop:1 rgba(255, 160, 40, 1.0));
        width: 1px;
}
